<html>
    <head>
        <title>Display Table</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            <div style="margin-top: 100px;" class="row">
            <div class="col-md-6">
                <form action="addData/" method="POST" autocomplete="off">
                    {% csrf_token %}
                <div class=" page-header text-primary text-center" ><h2>Registration Form</h2></div>
                <div class="form-group">
                    Name: <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    Age: <input type="int" name="age" class="form-control">
                </div>
                <div class="form-group">
                    Contact Number: <input type="int" name="contact" class="form-control">
                </div>
                <div class="form-group">
                    Email ID: <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group pull-right">
                    <input type="submit" name="Register" class="btn btn-primary">
                    <input type="reset" name="Clear" class="btn btn-danger">
                </div>
            </form>
            </div>
            <div class="col-md-6">
                {%if ndata%}
                <div class="page-header text-primary text-center">
                    <h2>View table details</h2>
                </div>
               <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Contact Number</th>
                            <th>Email ID</th>
                        </tr>
                    </thead>
                    {% for i in ndata %}
                    <tbody>
                    <tr>
                       <td>{{forloop.counter}}</td>
                       <td>{{i.Name}}</td>
                       <td>{{i.Age}}</td>
                       <td>{{i.Contact_number}}</td>
                       <td>{{i.Email}}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
               </table>
            </div>
            {% endif %}
        </div>
        </div>
    </body>
</html>